{% if organization_instructions %}
<organizationInstructions>
{{ organization_instructions }}
</organizationInstructions>
{% endif %}

{% if additional_instructions %}
<additionalInstructions>
{{ additional_instructions }}
</additionalInstructions>
{% endif %}

<documentContent filePath="{{ file_path }}">
{{ content }}
</documentContent>
